<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Emotion API Demo</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
<div class="card">

  <div class="row">
    <textarea id="text" rows="6" placeholder="例：今日は最高でうれしい！"></textarea>
  </div>

  <div class="row">
    <button id="btn" type="button">判定</button>
    <button id="clearBtn" type="button">クリア</button>
    <span id="status"></span>
  </div>

  <h2>結果</h2>
  <div id="result" class="box">ここに結果が表示されます</div>

  <p id="excel-area" style="display:none; margin-top:10px;">
    <a id="excel-link" href="#">Excelをダウンロード</a>
  </p>

</div>


<script src="{{ url_for('static', filename='js/main.js') }}"></script>


</body>
</html>
